body{
    font-family: 'josefin';
}

.about-banner .sc_hero_video::before {
  display: none;
}
.hero-style-three .xb-hero .xb-item--title {
   color: #21f7f7;
}
section.about-banner.hero.hero-style-three.pos-rel.pt-120.bg_img  .xb-hero .xb-item--title {
   color: #ffffff;
}
.hero-style-three .xb-hero .xb-item--title span.c-suite {
    position: relative;
}
hr.crossed-line {
     position: absolute;
    top: 15px;
    /* height: 0px; */
    left: 19px;
    z-index: 9999;
    width: 100%;
    /* background-color: #ffffff; */
    /* background-image: radial-gradient(circle, #00000045 0%, #000000 100%); */
    border-color: white;
    border-top: 5px solid #ffffff;
    transform: rotate(155deg);
}
.about-banner.hero-style-three .xb-hero .xb-item--title span.c-suite {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #c87af2;
    padding-top: 18px;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 15px;
}
.about-banner.hero-style-three .text-left.xb-hero.video-banner {
    width: 100%;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-banner.hero-style-three .sc_hero_video {
    position: absolute;
    top: 0;
    mask-image: linear-gradient(to top, hsl(0 0% 0% / 0), hsl(0 0% 0% / 1) 20%, hsl(0 0% 0% / 1) 80%, hsl(0 0% 0% / 0));
    left: 0;
    z-index: -1;
    opacity: 1;
    width: 100%;
    height: 100vh;
}
section.project.pb-140.o-hidden {
    margin-top: -60px;
    position: relative;
        padding-bottom: 70px;
    padding-top: 150px;
    z-index: 0;
    background-color: black;
}
section.project.pb-140.o-hidden .sec-title .title {
      font-size: 4rem;
    font-weight: 400;
    letter-spacing: -4px;
    color: #21f7f7;
    margin-bottom: 7px;
     font-family: 'josefin';
}
span.swat-clr {
    color: #21f7f7;
}
section.project.pb-140.o-hidden .sec-title.mission-sec {
    border-right: 2px solid #021ca1;
        padding: 40px 40px;
        width: 74%;
}
.pro-top.ul_li_between.mb-65.mission-te {
    display: flex;
        border: 2px solid #021ca1;
        margin-bottom: 200px;
            width: 90%;
}
.mission-img {
    width: 26%;
        display: flex;
    align-items: center;
    justify-content: center;
}
.mission-img img{
    width:70%;
}
section.project.pb-140.o-hidden .sec-title .content {
    max-width: 100%;
    color:white;
       font-size: 25px;
    line-height: 1.4;
    display: inline-block;
}
h1.mb-40.title.wow.fadeInUp.scroll-card {
        width: 100%;
    font-weight: 300;
    font-size: 5rem;
    font-family: 'josefin';
}
.pro-top.ul_li_between.mb-65.swat-team .sec-title {
    display: flex;
    justify-content: space-between;
}
.pro-top.ul_li_between.mb-65.swat-team .sec-title .content {
    max-width: 100%;
    color: #ffffff;
   font-size: 21px;
    line-height: 1.6;
       flex-direction: column;
    display: flex;
    gap: 10px;
}
.pro-top.ul_li_between.mb-65.swat-team .sec-title .title {
    max-width: 100%;
    color: white;
        font-size: 5rem;
    font-weight: 400;
    line-height: 1;
    display: inline-block;
}
.your-swat-title.css-zvi4ix {
    width: 30%;
}
.your-swat-content.css-zvi4ix {
    width: 60%;
}
.pro-top.ul_li_between.mb-65.swat-team {
    margin: 100px 0;
    margin-bottom: 0;
}

span.about::before{
    position: absolute;
    content: '';
    width: 92%;
    height: 5px;
       transform: rotate(160deg);
    background-color: #ffffff;
    top: 50px;
    left: 12px;
}
h1.mb-40.title.wow.fadeInUp.scroll-card.card-why-s span.about::before{
    position: absolute;
    content: '';
   width: 92%;
    height: 5px;
       transform: rotate(160deg);
    background-color: #ffffff;
    top: 50px;
    left: 12px;
}
span.c-suite{
    position: relative;
   
}
section.pb-40.process.pos-rel span.c-suite{
    position: relative;
      background: #c87af2;
       padding-top: 18px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 15px;
}

h1.mb-40.title.wow.fadeInUp.scroll-card.card-why-f {
    margin-bottom: 0;
}
.pro-top.ul_li_between.mb-65.independent {
    margin-top: 200px;
    background: #021ca1;
    padding: 50px;
}
.pro-top.ul_li_between.mb-65.independent .content{
 font-size: 41px !important;
}
.pro-top.ul_li_between.mb-65.independent .your-swat-content.css-zvi4ix {
    width: 80%;
}